.block-page > .block-page-title,
.block-type-heading-1 {
  /* Heading 1 */
  font-size: 2rem;
}
.block-type-heading-2 {
  /* Heading 2 */
  font-size: 1.8rem;
}
.block-type-heading-3 {
  /* Heading 3 */
  font-size: 1.6em;
}
.block-type-heading-4 {
  /* Heading 4 */
  font-size: 1.4rem;
}
.block-type-heading-5 {
  /* Heading 5 */
  font-size: 1.2rem;
}

.block-type-page {
  font-size: 1rem;
}
.block-type-paragraph {
  font-size: 1rem;

}
.block-type-to-do {
  font-size: 1rem;

}
.block-type-bulleted-list {

}
.block-type-toggle-list {

}
.block-type-table {

}
.block-type-code {

}
.block-type-quote {

}

.block-type-toggle-heading-1 {
  
}
.block-type-toggle-heading-2 {

}
.block-type-toggle-heading-3 {

}
.block-type-toggle-heading-4 {

}
.block-type-toggle-heading-5 {

}

.block-type-columns-2 {

}
.block-type-columns-3 {

}
.block-type-columns-4 {

}
.block-type-columns-5 {

}


