@font-face {
  font-family: 'Quicksand';
  src: url(~/assets/files/Quicksand-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Quicksand';
  src: url(~/assets/files/Quicksand-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Quicksand';
  src: url(~/assets/files/Quicksand-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Quicksand';
  src: url(~/assets/files/Quicksand-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Quicksand';
  src: url(~/assets/files/Quicksand-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url(~/assets/files/Montserrat-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: 'Montserrat';
  src: url(~/assets/files/Montserrat-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: 'Montserrat';
  src: url(~/assets/files/Montserrat-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url(~/assets/files/Montserrat-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url(~/assets/files/Montserrat-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url(~/assets/files/Montserrat-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url(~/assets/files/Montserrat-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url(~/assets/files/Montserrat-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: 'Montserrat';
  src: url(~/assets/files/Montserrat-Black.ttf);
  font-weight: 900;
}
